@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-green: #949E6A;
    --color-green-light: #D1D4C6; 

    --color-molasses: #fdf8f4;
    --color-molasses-dark: #C8C5C3;
    --color-chocolate: #4A4A4A;
    --color-chocolate-light: #6B6B6B;
    --color-molasses-saturated: #E2E2E2;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-inter: "Archivo Black", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: var(--color-molasses);
}